body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.grid{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.main{
    margin: 0;
   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}